package tslamic.github.io.androiddevicenames;

import android.os.Debug;

import junit.framework.Assert;
import junit.framework.TestCase;

public class DeviceNamesTest extends TestCase {

    private static final String FALLBACK = "fallback";

    public void testNull() throws Exception {
        final String result = DeviceNames.getDeviceName(null, FALLBACK);
        Assert.assertEquals(FALLBACK, result);
    }

    public void testEmpty() throws Exception {
        final String result = DeviceNames.getDeviceName("", FALLBACK);
        Assert.assertEquals(FALLBACK, result);
    }

    public void testNotListed() throws Exception {
        final String result = DeviceNames.getDeviceName("UNKNOWN", FALLBACK);
        Assert.assertEquals(FALLBACK, result);
    }

    $tests
}
